@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;800&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}
h4 {
  font-size: 24px;
  font-weight: var(--main700);
  text-transform: uppercase;
}
p {
 font-weight: var(--main300);
 font-size: 16px;
}

/* Variables */

:root {
  /* Colors */
  --bgColor: rgb(207, 207, 207);
  --txtColor: rgba(65, 65, 65, 0.933);

  /* Fonts */
  --mainFont: 'Poppins', sans-serif;
  --main300: 300;
  --main500: 500;
  --main600: 600;
  --main700: 700;
  --main800: 800;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--txtColor);
  font-family: var(--mainFont);
  font-weight: var(--main300);
  background-color: var(--bgColor);
}
#root {
  transition: 300ms all;
  width: 100vw;
  overflow-x: hidden;
}
/* Load Screen Style */
.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 26, 26);
  color: white;
  font-size: 46px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.load-text {
  font-family: var(--mainFont);
          -webkit-animation: anim 1s ease-in-out;
                  animation: anim 1s ease-in-out;
}
@-webkit-keyframes anim {
  0%{
    transform: translateY(-200%);
    opacity: .1;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes anim {
  0%{
    transform: translateY(-1000%);
    opacity: .1;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
/* End Load Screen Style */

/* Header Style */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem;
}
.logo {
  width: 50px;
  height: 50px;
  text-align: center;
}
.comp-logo {
  color: rgb(32, 32, 32);
  font-weight: var(--main800);
  font-size: 40px;
  text-transform: uppercase;
  
}
.comp-logo img {
  height: 50px;
}
.comp-brand {
  margin-left: 3rem;
}

.sideBar {
  display: flex;
}

.lang-container {
  display: flex;
  flex-direction: row;
  margin: 0 1rem;
}
.lang-box {
  border: 0;
  margin: 0 .4rem;
  font-size: 20px;
  background-color: transparent;
  cursor: pointer;
}
.contact {
  height: 30px;
  width: 100px;
  background-color: rgb(32, 99, 216);
  text-align: center;
  line-height: 30px;
  border-radius: 4px;
  transition: 300ms all;
}
.contact:hover {
  background-color: rgb(12, 84, 177);
}
.contact-btn {
  color: whitesmoke;
  font-weight: var(--main500);
}

/* Hero Style */

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 8rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
.content {
  width: 40rem;
  padding-right: 1rem;
}

.content p {
  padding-top: 1rem;
}
.hero-img img {
  height: 280px;
}

/* Games Slide Style */

.gameSlide-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 15rem;
  text-align: center;
}

.single-game-slide img {
  height: 120px;
}

/* Main Content Style */

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.main-single {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10rem;
}

.main-img img {
  height: 200px;
}

.main-content {
  width: 30rem;
  padding-right: 1rem;
}

.main-content h4 {
  padding-left: 1rem;
}

.main-content p {
  padding-top: 1rem;
  padding-left: 1rem;
}

.detail-btn {
font-size: 18px;
color: rgb(65, 146, 253);
text-decoration: underline;
}


/* Footer Style */

footer {
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(26, 26, 26);
}

.footer-info {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-info a {
  font-size: 18px;
  color: rgb(137, 137, 137);
}

/* GAMES STYLE */

.games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5rem 0;
}
.games-info-container {
  display:grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  grid-gap: 40px;
  margin-top: 1rem;
}
.title {
  font-family: var(--brandFont);
  font-size: 32px;
  letter-spacing: .15rem;
}
.game-title {
  font-family: var(--mainFont);
}
.single-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.single-info {
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 15px;
}

.single-game-img img {
  height: 300px;
}

.game-link img {
  height: 40px;
}


/* Contact Style */

.contact-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80vh;
}

form{
  display: flex;
  flex-direction: column;
}
form input {
  height: 25px;
  width: 300px;
  margin: 10px 0;
  padding-left: 5px;
}
form input:focus {
  font-size: 16px;
  outline: 1px solid rgb(0, 255, 153);
}
form button {
  height: 30px;
  font-size: 16px;
  background-color: rgb(49, 151, 235);
  border: 0;
  border-radius: 5px;
  transition: 300ms all;
}
form button:hover {
  background-color: rgb(0, 127, 206);
}

.mail {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/* MEDIA QUERY */

@media (min-width: 1300px) {
  .main-img img {
    height: 300px;
  }
}

@media (max-width: 900px) {
  .main-single {
    flex-direction: column;
  }
  .comp-brand {
    display: none;
  }
  .hero-img img {
    height: 200px;
  }
  .gameSlide-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .single-game-slide img {
    height: 90px;
    padding: 15px 0;
  }
  .main-single {
    text-align: center;
    flex-direction: column-reverse;
  }
  .main-single:last-child {
    flex-direction: column;
  }
  .main-img img {
    height: 250px;
  }
  .single-game-img img {
    height: 150px;
  }
}
@media (max-width: 600px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    
  }
  .hero-img img {
    height: 250px;
    padding-top: 25px;
  }
  .content {
    inline-size: 290px;
  }
  .content p {
    text-align: left;
    overflow-wrap: break-word;
  }
  .main-content {
    inline-size: 320px;
  }
  .main-content p {
    overflow-wrap: break-word;
    text-align: left;
  }
  .games-info-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .single-game-img img {
    height: 200px;
  }
  .contact-container {
    flex-direction: column-reverse;
  }
  .loading {
    font-size: 32px;
  }
}
